{% extends 'header.html' %}

{% block head %}

<title>Graph Page</title>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
{% endblock %}

{% block body %}
<h3>Graph Accuracy</h3>
{% for n in context['graph_name'] %}

     <div class="col-md-6">
                        <div class="chart graph-card" id="{{n}}">
                        <script>
                            var graphs = {{context[n] | safe}};

                            Plotly.plot({{n}},graphs,{});
                        </script>

                         </div>
                    </div>

{% endfor %}


{% endblock %}
